In [1]:
import pandas as pd
from Bio import Restriction, SeqIO
import os
import pandas as pd

In [2]:
main_accessions = pd.read_csv('data/ref_query_accessions_seq.csv')
main_accessions.head()

,accession,species,sequence
0,NR_025227.1,Pseudomonas umsongensis,AACGCTGGCGGCAGGCCTAACACATGCAAGTCGAGCGGATGAAGAG...
1,NR_157609.1,Bacillus haynesii,AGAGTTTGATCCTGGCTCAGGACGAACGCTGGCGGCGTGCCTAATA...
2,NR_116064.1,Curtobacterium oceanosedimentum,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGATGAT...
3,NR_104839.1,Curtobacterium oceanosedimentum,TCAGGACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGA...
4,NR_115988.1,Acinetobacter rudis,CCAGGGATTTGATTATGGCTCAGATTGAACGCTGGCGGCAGGCTTA...

In [3]:
# Fetch similar accessions from blast serach on refDB accessions 
similar_accessions = pd.DataFrame(columns=['accession', 'strain_ref', 'sequence'])
for root, dirs, files in os.walk("./data/similar_ref_seq", topdown=False):
    for file in files:
        filepath = f"./data/similar_ref_seq/{file}"
        if file.endswith('.fasta') and os.path.isfile(filepath):
            records = list(SeqIO.parse(filepath, 'fasta'))
            for r in records:
                similar_accessions = similar_accessions.append({
                    "accession": r.id,
                    "strain_ref": os.path.splitext(file)[0],
                    "sequence": str(r.seq)
                }, ignore_index=True)

similar_accessions.head()

    accession   strain_ref                                           sequence
0  MN513225.1  NR_025357.1  ATTGAACGCTAGCGGGATGCTTTACACATGCAAGTCGAACGGCAGC...
1  JF710959.1  NR_025357.1  TACACATGCAAGTCGAACGGCAGCACGAGAGAGCTTGCTCTCTTGG...
2  KT988067.1  NR_025357.1  ATTGAACGCTAGCGGGATGCTTTACACATGCAAGTCGAACGGCAGC...
3  KP224304.1  NR_025357.1  GAGTTTGATCCTGGCTCAGATTGAACGCTAGCGGGATGCTTTACAC...
4  KF534470.1  NR_025357.1  GAGTTTGATCCTGGCTCAGATTGAACGCTAGCGGGATGCTTTACAC...

In [4]:
main_indexed_accessions = main_accessions.set_index("accession")

# Assign Species
similar_accessions['species'] = similar_accessions.apply(lambda c: main_indexed_accessions.loc[c.strain_ref].species, axis=1)
similar_accessions.head()

,accession,strain_ref,sequence,species
0,MN513225.1,NR_025357.1,ATTGAACGCTAGCGGGATGCTTTACACATGCAAGTCGAACGGCAGC...,Alcaligenes faecalis
1,JF710959.1,NR_025357.1,TACACATGCAAGTCGAACGGCAGCACGAGAGAGCTTGCTCTCTTGG...,Alcaligenes faecalis
2,KT988067.1,NR_025357.1,ATTGAACGCTAGCGGGATGCTTTACACATGCAAGTCGAACGGCAGC...,Alcaligenes faecalis
3,KP224304.1,NR_025357.1,GAGTTTGATCCTGGCTCAGATTGAACGCTAGCGGGATGCTTTACAC...,Alcaligenes faecalis
4,KF534470.1,NR_025357.1,GAGTTTGATCCTGGCTCAGATTGAACGCTAGCGGGATGCTTTACAC...,Alcaligenes faecalis

In [ ]:
# Collect all ref accessions together
ref_accessions = similar_accessions[['accession', 'species', 'sequence']].append(
    main_indexed_accessions.reset_index()[['accession', 'species', 'sequence']], 
    ignore_index=True
)
ref_accessions.head()

In [ ]:
# All availabe Species
similar_accessions['species'].unique()