In [1]:
import pandas as pd
from Bio import Entrez, SeqIO

In [13]:
Entrez.email='kangkonsaikia@gmail.com'

accessions = pd.read_csv('./data/shabiha_bacteria_accessions.csv').set_index("accession")

accessions.head()

           isolate               species
accession
MN493874.1      K2  Stenotrophomonas sp.
MN493875.1      K4     Brevundimonas sp.
MN493876.1      K7  Stenotrophomonas sp.
MN493877.1      K9      Ochrobactrum sp.
MN493878.1     K10      Ochrobactrum sp.

In [16]:
def fetch_sequence(row):
    # get Index - row.name 
    handle = Entrez.efetch(db='nucleotide', id=row.name, rettype='fasta')
    fasta = SeqIO.read(handle, 'fasta')
    return str(fasta.seq)
    
accessions['sequence'] = accessions.apply(lambda r : fetch_sequence(r), axis=1)
accessions.head()

,isolate,species,sequence
accession,,,
MN493874.1,K2,Stenotrophomonas sp.,AAGGGGTGGCCTACACATGCAAGTCGAACGGCAGCACAGGAGAGCT...
MN493875.1,K4,Brevundimonas sp.,GGCGCAGGCCTACACATGCAAGTCGAACGAACTCTTCGGAGTTAGT...
MN493876.1,K7,Stenotrophomonas sp.,AATGCGGGGCCTACACATGCAAGTCGAACGGCAGCACAGGAGAGCT...
MN493877.1,K9,Ochrobactrum sp.,CCAAGGGCGGCCTTACCATGCAAGTCGAGCGCCCCGCAAGGGGAGC...
MN493878.1,K10,Ochrobactrum sp.,GCAGCTTACCATGCAAGTCGAGCGCCCCGCAAGGGGAGCGGCAGAC...

In [18]:
accessions.to_csv('./outputs/shabiha_bacteria_sequences.csv')

In [29]:
accession = pd.read_csv('./outputs/shabiha_bacteria_sequences.csv').set_index('accession').drop('species', axis=1)
accession.head()

           isolate                                           sequence
accession
MN493874.1      K2  AAGGGGTGGCCTACACATGCAAGTCGAACGGCAGCACAGGAGAGCT...
MN493875.1      K4  GGCGCAGGCCTACACATGCAAGTCGAACGAACTCTTCGGAGTTAGT...
MN493876.1      K7  AATGCGGGGCCTACACATGCAAGTCGAACGGCAGCACAGGAGAGCT...
MN493877.1      K9  CCAAGGGCGGCCTTACCATGCAAGTCGAGCGCCCCGCAAGGGGAGC...
MN493878.1     K10  GCAGCTTACCATGCAAGTCGAGCGCCCCGCAAGGGGAGCGGCAGAC...

In [21]:
# get details of the accessions
accession_details = pd.read_csv('./data/accession_details.csv').set_index('accession')
accession_details.head()

,isolate,species,genera,phylum
accession,,,,
MN493874.1,K2,Stenotrophomonas maltophilia,Stenotrophomonas,Proteobacteria
MN493875.1,K4,Brevundimonas naejangsanensis,Brevundimonas,Proteobacteria
MN493876.1,K7,Stenotrophomonas pavanii,Stenotrophomonas,Proteobacteria
MN493877.1,K9,Ochrobactrum anthropi,Ochrobactrum,Proteobacteria
MN493878.1,K10,Ochrobactrum anthropi,Ochrobactrum,Proteobacteria

In [31]:
accession_merged = accession.merge(accession_details[['species', 'genera', 'phylum']], on='accession', how='left')
accession_merged.head()

,isolate,sequence,species,genera,phylum
accession,,,,,
MN493874.1,K2,AAGGGGTGGCCTACACATGCAAGTCGAACGGCAGCACAGGAGAGCT...,Stenotrophomonas maltophilia,Stenotrophomonas,Proteobacteria
MN493875.1,K4,GGCGCAGGCCTACACATGCAAGTCGAACGAACTCTTCGGAGTTAGT...,Brevundimonas naejangsanensis,Brevundimonas,Proteobacteria
MN493876.1,K7,AATGCGGGGCCTACACATGCAAGTCGAACGGCAGCACAGGAGAGCT...,Stenotrophomonas pavanii,Stenotrophomonas,Proteobacteria
MN493877.1,K9,CCAAGGGCGGCCTTACCATGCAAGTCGAGCGCCCCGCAAGGGGAGC...,Ochrobactrum anthropi,Ochrobactrum,Proteobacteria
MN493878.1,K10,GCAGCTTACCATGCAAGTCGAGCGCCCCGCAAGGGGAGCGGCAGAC...,Ochrobactrum anthropi,Ochrobactrum,Proteobacteria

In [36]:
accession_merged.to_csv('./outputs/accession_details_all.csv')